<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
   <h1>Welcome to Mini Amazon!</h1>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
 <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}
  </div>
</div>
<p> <a href="{{ url_for('cart') }}">Cart</a> </p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body>
<h1>Current Balance {{ "%.2f"|format(current_balance) }}</h1>
<form action="" method="post">
    <p>
        <p> Amount to add to balance: {{ form.amount }} </p>
        <p> {{ form.csrf_token }} </p>
        <p> {{ form.submit }} </p>
    </p>
</form>
</body>
</html>
