<html><head></head><body>
    {% block content %}
    <h1>Choose a seller!</h1>
    <form method="POST">
        {{form.csrf_token}}
        <p>{{form.seller_sel.label}}<br>{{form.seller_sel}}</p>
        <p>{{form.submit()}}</p>
    </form>
    {% endblock %}
    
    </body></html>
