
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>All current users!</h1>
  </br>
        <p> Current Users </p>
      {% for i in  peeps%}
      <div>
          <p> {{i.user_id}} </p>
          <p> {{i.username}} </p>
          <p> {{i.password}} </p>
  </br>
      </div>
      {%endfor%}
  </body>
</html>
