{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Browse Items For Sale:</h3>
  <hr>
  {% for i in  items%}
  <div>
      <p> item: {{i.item.item_name}} </p>
      <p> {{i.item.description}} </p>
      <button type="button"><a href="{{ url_for('itemPage', itemid = i.item_id )}}">GO TO ITEM</a></button>
      <button type="button"> <a href="/addToCart?item_id={{i.item_id}}&seller_id={{i.seller_id}}">ADD TO CART</a></button>
     <img src = "{{i.item.item_link}}" alt = "{{i.item.item_name}}" width=20% height= auto>
</br>
  </div>
  {%endfor%}
  <hr>
</div>
{% endblock %}

