{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
 <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}

  </div>
</div>

  <h1>Cart ID {{ cart.cart_id }}</h1>
  </br>
  <p> <a href="{{url_for('landing_page') }}"> Return Home</a></p>
  <h1> Items in this Cart </h1>
  <body>
  {% for cart_item in  cart_items%}
  <div>
      <h3> <a href="{{ url_for('itemPage', itemid = cart_item.item.item_id )}}"> {{cart_item.item.item_name}} </a> </h3>
      <p> item id: {{cart_item.item_id}} </p>
      <p> seller id: {{cart_item.seller_id}} </p>
      <img src= {{ cart_item.item.item_link }} alt = 'item image'>
      <p> price: {{"%.2f"|format(cart_item.price)}}</p>
      <p> quantity: {{cart_item.quantity}} </p>
      <p> <button type="button"> <a href="/removeFromCart?item_id={{cart_item.item_id}}&seller_id={{cart_item.seller_id}}">Remove From Cart</a></button> </p>
  </div>
  {%endfor%}
  </body>
  <h2> Total: {{ "%.2f"|format(total) }} </h2>
  <h2> <button type="button"><a href="{{ url_for('checkout') }}">Checkout</a></button> </h2>
</div>
{% endblock %}
