{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="container">
  <h3>Review For Sellers</h3>
  <a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
      <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
      <a href="{{ url_for('addBalance') }}">Add Balance</a>
      <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}
  </div>
  </div>
  <hr>
    {{ wtf.quick_form(form) }}
  <hr>
</div>
{% endblock %}
