<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Reset Password</title>
</head>
<body>
<form action="" method="post">
    <p>
    <p> Username: {{ form.username }} </p>
    <p> New Password: {{ form.new_password }} </p>
    <p> Confirm New Password: {{ form.confirm_new_password }} </p>
    <p> {{ form.csrf_token }} </p>
    <p> {{ form.submit }} </p>
    </p>
</form>
</body>
</html>
