{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<head>
    <link rel="stylesheet" href="/static/style.css">
</head> 
   <h1>Welcome to Mini Amazon!</h1>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a> 
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a> 
  {% if seller_id != None%}
   <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
  {% endif %}  
</div>
</div>
<p> <a href="{{ url_for('cart') }}">Cart</a> </p>
    <div class="container">
  
    {{ wtf.quick_form(form) }}
	  
  {% for i in  data%}
  <div>
      <p> item: {{i.item.item_name}} </p>
      <p> {{i.item.description}} </p>
      <p> {{i.price}} </p>
      <button type="button" name="button"><a href="{{ url_for('addToCart', item_id = i.item_id, seller_id = i.seller_id, cart_id = cart) | safe }}">ADD TO CART</a></button>
     </br>
  </div>
  {%endfor%}
</br>

  <form action="{{ url_for('landing_page')}}" method="POST">
    <label for="catetory">Choose a category to see recommended items:</label>
    <select value = "Automotive" id = "category" name = "category">
         {% for o in cat %}
         <option value="{{ o.category_name}}">{{ o.category_name }}</option>
         {% endfor %}                                              
    </select>
    <input type="submit" value="Submit">
  </form>

{% for rec in items %}
	<img src = "{{rec.item_link}}" alt = "{{rec.item_name}}" width = 20% height = auto >
      <button type="button"><a href="{{ url_for('itemPage', itemid = rec.item_id )}}">{{rec.item_name}}</a></button>
	<p>Average Rating: {{rec.avg_rating}}</p>
{% endfor %}
</div>
{% endblock %}
