{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}

  </div>
</div>
<p> <a href="{{ url_for('cart') }}">Cart</a> </p>
<div class="container">
  <h3> {{item.item_name}} </h3>

     <img src = "{{item.item_link}}" alt = "{{item.item_name}}" width = 30% height = auto>

<p> Category: {{ item.category_name }} </p>
<p>{{ item.description}}</p>

<h4> Listings </h4>
{% if count == 0 %}
<p> no current listings for this product </p>
{% endif %}
{% for i in items %}
	<p> Seller ID : {{i.seller_id }}</p>
	<p> ${{"%.2f"|format(i.price)}} </p>
	<p> Amount Available: {{i.quantity}} </p>
        <p><button type="button" name="button"><a href="{{ url_for('addToCart', item_id = i.item_id, seller_id = i.seller_id, cart_id = cart) | safe }}">Add To Cart</a></button> </p>

	<p> <a href="{{ url_for('addSellerReview',seller_id = i.seller_id) }}">Add A Review for this Seller</a> </p>


        <p> <a href="{{ url_for('getAllReviewsForSellers',seller_id = i.seller_id) }}"> Get All Reviews for this Seller</a> </p>
{% endfor %}

<h4> Reviews </h4>
{% for r in reviews %}
<p> Date Written: {{r.date}}</p>
<p> Rating: {{r.rating}} </p>
<p> {{r.review_text}} </p>

{% endfor %}
<p> <a href="{{ url_for('addReview',product_id = item.item_id) }}">Add A Review for this product</a> </p>


</div>
{% endblock %}
