{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="container">
  <h1>Your Order History</h1>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}

  </div>
</div>
  </br>
  {% for order in orders %}
  <div>
      <p> order id: {{order.order_id}} </p>
      <p> status: {{order.status}} </p>
      <p> order date: {{order.order_date}} </p>
      <p> total: {{"%.2f"|format(order.total)}} </p>
      </br>
      {% for order_item in order.items %}
          <p> item id: {{order_item.item_id}} </p>
          <p> seller id: {{order_item.seller_id}} </p>
          <p> item name: {{order_item.item.item_name}}</p>
          <p> price: {{"%.2f"|format(order_item.price_each)}}</p>
          <p> quantity: {{order_item.quantity}} </p>
          <button type="button" name="button"><a href="{{ url_for('addReview', product_id = order_item.item_id) | safe }}">Leave Review</a></button>

  </br>
  </div>
  {%endfor%}
  </br>
  {%endfor%}
</div>
{% endblock %}
