{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<html>
  <head>
    <title>Flask Shop</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h1>Welcome back {{profile.name}}!</h1>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>

 <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}
  </div>
</div>
<p> <a href="{{ url_for('browse') }}"> Browse Items For Sale</a></p>
  <p> <a href="{{ url_for('cart') }}">Cart</a> </p>
  <p> email: {{profile.email}}
  <p> address: {{profile.address}}
  <p> phone: {{profile.phone}}
  <p> user_id: {{profile.person.user_id}}
  <p> balance: {{ "%.2f"|format(profile.balance) }}
  {% if profile.seller %}
  <p> <a href="{{ url_for('seller_items',seller_id = profile.seller.seller_id)}}">Manage My Listings</a> </p>
  {%else%}
  <p> <a href="{{ url_for('seller_items', seller_id = profile.person.user_id)}}">Become A Seller</a> </p>
  {% endif %}
  <p> <a href="{{ url_for('addBalance') }}">Add Money to Balance</a> </p>
  <p> <a href="{{ url_for('logout') }}">Logout</a> </p>
</div>
{% endblock %}
</html>
