{% block header %}
  <h1>{% block title %}Reviews For This Seller{% endblock %}</h1>
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head> 
   <h1>Welcome to Mini Amazon!</h1>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a> 
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a> 
  </div>
</div>
  {% for review in Reviews %}
    <article class="review">
      <header>
        <div>
          <h1>{{ review.rating }}</h1>
          <div class="author">by {{ review.buyer_id }} on {{ review.date }}</div>
        </div>
      </header>
      <p class="body">{{ review.review_text }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
~                
