{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Search Here</h3>
  <hr>
{{ form.search }}
{{ form.submit }}
   
  <hr>
  <p><a href="{{ url_for('landing_page') }}">Return Home</a></p>

  {% for i in  data%}
  <div>
      <p> item: {{i.item.item_name}} </p>
      <p> {{i.item.description}} </p>
      <p> ${{"%.2f"|format(i.price)}} </p>
      <button type="button"> <a href="/addToCart?item_id={{i.item_id}}&seller_id={{i.seller_id}}">ADD TO CART</a></button>
     </br>
  </div>
  {%endfor%}
  
</div>
{% endblock %}


