{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="container">
  <h3>Search Results</h3>
<a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
    <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
    <a href="{{ url_for('addBalance') }}">Add Balance</a>
    <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}

  </div>
</div>
<p> <a href="{{ url_for('cart') }}">Cart</a> </p>
<p><a href="{{ url_for('landing_page') }}">Return Home</a></p>

  {% for i in  results%}
  <div>
     <img src = "{{i.item.item_link}}" alt = "{{i.item.item_name}}" width=50% height= auto>
      <h3><a href="{{ url_for('itemPage', itemid = i.item_id)}}">{{i.item.item_name}}</a></h3>
      <p> {{i.item.description}} </p>
      <p> ${{"%.2f"|format(i.price)}} </p>

     </br>
  </div>
  {%endfor%}

</div>
{% endblock %}
