<html>
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <a href = "{{ url_for('landing_page') }}"> <img src="../static/LOGO!.png" alt= "logo" width = 7.5% height = auto> </a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="{{ url_for('profile') }}"> Welcome Back {{profile.name}}!</a>
      <p>Current Account Balance: {{"%.2f"|format(profile.balance)}}</p>
      <a href="{{ url_for('addBalance') }}">Add Balance</a>
      <a href="{{ url_for('order_history') }}">Order History</a>
    {% if seller_id != None%}
     <a href= "{{ url_for('seller_items', seller_id = seller_id) }}"> Seller List </a>
    {% endif %}
  </div>
  </div>
    {% block content %}
    <p>Seller: {{seller_id}}</p>
    <p>Items for Sale:
    {%if data%}
        {% for item in data %}
    <table>
        <tbody><tr>
            <td>Item id</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr><tr>
            <td>{{item.item_id}}</td>
            <td>{{"%.2f"|format(item.price)}}</td>
            <td>{{item.quantity}}</td>
        </tr></tbody></table>
        <p> <a href="/removeSellerItem?item_id={{item.item_id}}">Remove Product</a> </p>
        {% endfor %}
    {%else%}
    <p>You are not selling any items yet!</p>
    {%endif%}
    {% endblock %}
    <p> <a href="{{ url_for('showWarehouses')}}">Stock up in the warehouses!</a> </p>
    </p></body></html>
