{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

  <h3>Sign Up Page</h3>
  <hr>
    {{ wtf.quick_form(form) }}
  <hr>
<p> <a href = "{{ url_for ('signin') }}" > Back to Sign In </a></p>
</div>
{% endblock %}
