<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Warehouse Inventory </title>
</head>
<body>
<h1>Welcome to the Warehouse Inventory Page for {{name}}!</h1>
<a href="/warehouses">View All Warehouses</a>
<p> Items Stored in this Warehouse are: 
<!-- For loop logic of jinja template -->
<ul>
{%for i in range(0, len)%} 
  
	<li>{{items[i]}}</li>
	<div>Quantity Remaining: {{quantities[i]}}</div>
	<a href='/removeFromWarehouse?item_id={{itemIds[i]}}&warehouse_id={{warehouse}}'>Add This Item To Your Seller Inventory <span aria-hidden="true"></span></a>
{%endfor%} 
<!--might need to display more than the items[i] bc its probably an object -->
<!-- 
currently this is expecting 3 params warehouse, which is the warehouse id we are looking for, items which is a list of items stored in that warehouse, and len which is the length of items
-->
</ul>   
</body>
</html>
{% endblock %}

