{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Available Amazon Warehouses </title>
</head>
<body>
<h1>Available Amazon Warehouses</h1>
<p> Please Select the Warehouse Whose Inventory You Would Like To View:
<ul> 
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%} 
  
    <li><a href="/warehouse?id={{warehouses[i]}}">{{warehouseNames[i]}}</a></li> 
{%endfor%} 
<!--might need to display more than the items[i] bc its probably an object -->
<!-- 
currently this is expecting 3 params warehouse, which is the warehouse id we are looking for, items which is a list of items stored in that warehouse, and len which is the length of items
-->  
</ul> 
</body>
</html>
{% endblock %}
